body {
    text-align: center;
    margin: 100px;
    background-color: lightgrey;
    letter-spacing: 0.2em;
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

input {
    padding: 7px;
    margin: 10px;
    background-color: lavender;
    text-align: center;
}

ol {
    text-align: left;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 40px 10px;
    background-color: grey;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background-color: darkgrey;
}

.history {
    margin-top: 40px;
    text-align: left;
}


